@charset "euc-kr";
/* CSS Document */
.top_b{
	width: 1340px;
	margin: 0 auto;	
	margin-top: 10px;
}

.contain{
  text-align: center;
}



/********** tap �׸� **********/


/* Style the tab */
.tab {
  margin-left: 150px;
  text-align: center;
  overflow: hidden;
  border-bottom: 2px solid #5b5b5b;
  width: 992px;
 
}

/* Style the buttons inside the tab */
.tab button {
  width: 248px;
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
  color: #ccc;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #5b5b5b;
  color: #fff;
  border: 1px solid #5b5b5b;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
}
	
#faq2 {
	border-left: none;
	border-right: none;
}

/********** ������ �׸� **********/


.title {
	clear: both;
	padding-left: 3px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #404040;
	font-weight: bold;
	
}

.accordion {
  clear: both;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: -13px;
  width: 992px;
  border: none;
  border-bottom: 1px solid #ccc;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.panel {
  width: 1240px;
  margin-left: -13px;
  background-color: #f4f4f4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accornumber {
	margin-left: 60px;
	font-size: 14px;
    color: #7c7c7c;
}

.accorq{
	margin-left: 60px;
	font-size: 14px;
    color: #7c7c7c;
}

.accorq2{
	margin-left: 54px;
	font-size: 14px;
    color: #7c7c7c;
}

.accora {
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
}

.bottom_box{
	width: 1240px;
	height: 120px;
}